@font-face {
    font-family: Norse Bold;
    src: url(../fonts/Norse-Bold.otf);
  }

h1 {
    font-family: Norse Bold, sans-serif;
    color: white;
}

h3 {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.signup-wrapper {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left-section {
    display: flex;
    background-image: url(./images/odin-project-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 35vw;

}

.right-section {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    width: 65vw;
}

.intro-content {
    height: 30vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 40px;
    margin-bottom:40px;
}

.form-container {
    height: 38vh;
    background-color: white;
    margin-bottom: 10px;
    border-bottom: 1px solid;
}

.form-container>h3 {
    margin-left: 40px;
}


.sign-up-form {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}

.form-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    margin-bottom: 10px;
}

.form-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input {
    width: 200px;
    height: 23px;
    border: 0.1px solid #E5E7EB;
    border-radius: 5px;
}

input:focus{
    color: blue;
    border: 1px solid;
}

input:invalid {
    border-color: red;
}

.submit_button {
    padding-top: 25px;
    margin-left: 40px;
}


label {
    font-size: 15px;
    color: #363835;
}

#error {
    color: red;
    font-size: 10px;
    margin: 1px;
}

.submit_button {
    height: 30vh;
}

.button {
    background-color:#596D48;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
}