@font-face {
    font-family: Norse-Bold;
    src: url(../fonts/Norse-Bold.otf);
}


body {
    margin: 0;
    padding: 0;
}

.signup-wrapper {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left-section {
    display: flex;
    background-image: url(./images/odin-project-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 35vw;
    flex-direction: column;
}


.logo-section {
    display: flex;
    align-items: center;
    height: 40vh;
}

.logo-image {
    height: 80px;
    display: flex;
    align-items: center;
}

.logo-text {
    color: white;
    font-size: 60px;
    font-family: Norse-Bold;
}

.semi-transparent {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    font-family: Norse-Bold, sans-serif;

}

.photo-credits {
    display: flex;
    height: 60vh;
    align-items: flex-end;
    justify-content: center;
    width: 35vh;;
}

.p-footer
 {
    color: white;
    font-size: 12px;
}

.a-footer{
    color: white;
    text-decoration: underline;
}

.right-section {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    width: 65vw;
}

.intro-content {
    height: 30vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 40px;
    margin-bottom:40px;
}

.form-container {
    height: 38vh;
    background-color: white;
    margin-bottom: 10px;
    box-shadow: 2px 4px #E5E7EB;
}

.form-container>h3 {
    margin-left: 40px;
}


.sign-up-form {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}

.form-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    margin-bottom: 10px;
    padding-left: 20px;
}

.form-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

input {
    width: 200px;
    height: 23px;
    border: 0.1px solid #E5E7EB;
    border-radius: 5px;
}

input:focus{
    color: blue;
    border: 1px solid;
}

input:invalid {
    border-color: red;
}

.submit_button {
    padding-top: 25px;
    margin-left: 40px;
}


label {
    font-size: 10px;
    color: #363835;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-weight: 500;
}

#error {
    color: red;
    font-size: 10px;
    margin: 1px;
}

.submit_button {
    margin-top: 5px;
}

.button {
    background-color:#596D48;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 5px;
    box-shadow: 2px 4px #E5E7EB;
}
.hyperlink {
    margin-top: 30px;

}
a {
    text-decoration: none;
    color: #596D48;
}